<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audio Analysis Details</title>
  <link rel="icon" href="https://example.com/path_to_logo_image_file.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
  <style>
    body {
      background: #fff url(https://static01.nyt.com/images/2023/03/03/multimedia/00dc-birdflu-01-bvmw/00dc-birdflu-01-bvmw-superJumbo-v2.jpg) center center/cover no-repeat;
    }

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    @keyframes textclip {
      to {
        background-position: 500% center;
      }
    }

    .elevated-container {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      padding: 20px;
      margin-top: 20px;
      margin-left: 10px;
      margin-bottom: 20px;
    }

    .sidebar {
      background-color: #CD0B2E;
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      margin-right: 10px;
    }

    .sidebar a {
      display: block;
      margin-bottom: 10px;
    }

    .sidebar-button {
      display: block;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #FAE02D;
      color: #CD0B2E;
      text-decoration: none;
      text-align: center;
      border-radius: 5px;
    }

    .sidebar-button:hover {
      background-color: white;
    }

    .colored-hr-sidebar {
  background-color: #FAE02D;
  height: 2px; 
}

    .main-content {
      flex-grow: 1;
    }


    .subtitle {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 14px;
      color: #fae02d;
      font-family: Nunito;
      text-align: center;
    }

    .elevated-container {
      background-color: rgba(255, 255, 255, 0.726);
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      padding: 20px;
      margin-bottom: 20px;
    }

    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }

    .logo {
      width: 100px;
      height: auto;
    }

    .animate-character {
      text-transform: lowercase;
      background-image: linear-gradient(-225deg, #ffec00 10%, #bc4c1c 19%, #ffe400 67%, #e02727 120%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 79% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
      font-size: 20px;
      font-family: "Coiny", cursive;
    }

    @keyframes textclip {
      to {
        background-position: 500% center;
      }
    }

    .field-table {
  width: 100%;
  border-collapse: collapse;
  border-color: black;
  margin-top: 20px;
}

.field-row {
  border-bottom: 1px solid #ccc;
  border-color: black;
}

.field-label,
.field-value {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-color: black;
}

.field-value:last-child {
  border-right: none;
}


    footer.footer {
      background-color: transparent;
      padding: 20px;
    }

    .footer-text {
      color: white;
      font-size: 14px;
      margin-bottom: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="logo-container">
        <img class="logo" src="{{ url_for('static', filename='chic_logo.png', _external=True) }}" alt="Logo">
      </div>
      <div class= "text-center">
      <h3 class="animate-character text-center">Chic Device App</h3>
      <h3 class="subtitle">Hear their Cries, Save their Lives!</h3>
      <a href="#cage1" class="sidebar-button" onclick="showCageDetails('cage1')">Cage 1</a>
      <a href="#cage2" class="sidebar-button" onclick="showCageDetails('cage2')">Cage 2</a>
      <hr class="colored-hr-sidebar">
        <p style="color: #fae02d; margin-right: 5px; font-size: 15px; font-style: italic;">
          Current Date & Time: <span id="currentDateTime" style="color: #fae02d;"></span>
        </p>
    </div>
</div>

    <div class="main-content">
        <div class="container">
      <div class="elevated-container history-logs-container">
        <nav class="navbar">
            <form action="{{ url_for('dashboard') }}" method="GET" class="text-end me-2">
                <button type="submit" class="btn btn-danger btn-primary">Back to Dashboard</button>
              </form>
              <div class="field text-center">
                <h3 style="color: rgba(0, 0, 0, 0.767); font-family: San Francisco; font-weight: bold; margin-bottom: 5px;">Real-Time Audio Analysis</h3>
            <p>This section is for analyzing audio data as it is being captured or streamed in real-time, which involves extracting meaningful information from the audio signal.</p> 
        </div>
        </nav>


        <!-- Main content here -->
        <div id="cage1-details" style="display: none;">
            <hr>
          <h2>Cage 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur, metus vel lobortis consectetur, lorem urna congue leo, eu sollicitudin lectus urna sit amet ipsum. Suspendisse ac neque a dolor congue pretium. Sed pharetra nunc a augue posuere cursus.</p>
          <button id="startButton" class="btn btn-danger btn-sm" onclick="startAudio()">Start Audio Processing</button>
          <button id="endButton" class="btn btn-danger btn-sm" onclick="endAudio()">End Audio Processing</button>
          <table class="field-table">
            <tr class="field-row">
              <td class="field-label">Microphone Number:</td>
              <td class="field-value" id="microphoneNumber"></td>
            </tr>
            <tr class="field-row">
              <td class="field-label">Current Chicken Status:</td>
              <td class="field-value" id="chickenStatus">Extremely Distressed</td>
            </tr>
            <tr class="field-row">
              <td class="field-label">Duration</td>
              <td id="timer" class="timer"> 00:00:00:000</td>
            </tr>            
          </table>
          
          <div class="row">
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="waveformCanvas" width="400" height="200"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Waveform</p>
                    <div id="waveformValues"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="spectrogramCanvas" width="400" height="200"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Spectogram</p>
                    <div id="spectrogramValues"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="chromagramCanvas" width="400" height="200"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Chromagram</p>
                    <div id="chromagramValues"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="spectralCanvas" width="400" height="200"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Spectral Display</p>
                    <div id="spectralValues"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div id="cage2-details" style="display: none;">
            <hr>
          <h2>Cage 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur, metus vel lobortis consectetur, lorem urna congue leo, eu sollicitudin lectus urna sit amet ipsum. Suspendisse ac neque a dolor congue pretium. Sed pharetra nunc a augue posuere cursus.</p>
          <button id="startButton" class="btn btn-danger btn-sm" onclick="startAudio()">Start Audio Processing</button>
              <button id="endButton" class="btn btn-danger btn-sm" onclick="endAudio()">End Audio Processing</button>
          <table class="field-table">
            <tr class="field-row">
              <td class="field-label">Microphone Number:</td>
              <td class="field-value" id="microphoneNumber"></td>
            </tr>
            <tr class="field-row">
                <td class="field-label">Current Chicken Status:</td>
                <td class="field-value" id="chickenStatus">Extremely Distressed</td>
              </tr>
            <tr class="field-row">
              <td class="field-label">Frequency:</td>
              <td class="field-value" id="frequency"></td>
            </tr>
            <tr class="field-row">
              <td class="field-label">Amplitude:</td>
              <td class="field-value" id="amplitude"></td>
            </tr>
          </table>
          
          <div class="row">
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
              <canvas id="Canvas"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Waveform</p>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="Canvas"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Mel-Spectogram</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="Canvas"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Chromagram</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="elevated-container waveform-container">
                <div class="field">
                  <canvas id="Canvas"></canvas>
                  <div class="col-md-12 text-center">
                    <p>Spectral Display</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  </div>

  <script>
    function showCageDetails(cage) {
      var cage1Details = document.getElementById('cage1-details');
      var cage2Details = document.getElementById('cage2-details');

      if (cage === 'cage1') {
        cage1Details.style.display = 'block';
        cage2Details.style.display = 'none';
      } else if (cage === 'cage2') {
        cage1Details.style.display = 'none';
        cage2Details.style.display = 'block';
      }
    }
  </script>

<script>
    // Function to update the current date and time
    function updateDateTime() {
      var currentDateTimeElement = document.getElementById("currentDateTime");
      var currentDate = new Date().toLocaleDateString();
      var currentTime = new Date().toLocaleTimeString();
      currentDateTimeElement.textContent = currentDate + " " + currentTime;
    }
  
    // Update the date and time initially
    updateDateTime();
  
    // Update the date and time every second
    setInterval(updateDateTime, 1000);
  </script>



<script>
  var audioContext;
  var analyser;
  var waveformCanvas;
  var waveformCtx;
  var spectrogramCanvas;
  var spectrogramCtx;
  var chromagramCanvas;
  var chromagramCtx;
  var spectralCanvas;
  var spectralCtx;
  var isPlaying = false;
  var mediaStreamSource;
  var dataArray;
  var animationFrameId;

  function startAudio() {
    if (isPlaying) return;

    audioContext = new (window.AudioContext || window.webkitAudioContext)();
    analyser = audioContext.createAnalyser();
    analyser.fftSize = 2048;
    var bufferLength = analyser.frequencyBinCount;
    dataArray = new Uint8Array(bufferLength);

    waveformCanvas = document.getElementById("waveformCanvas");
    waveformCtx = waveformCanvas.getContext("2d");

    spectrogramCanvas = document.getElementById("spectrogramCanvas");
    spectrogramCtx = spectrogramCanvas.getContext("2d");

    chromagramCanvas = document.getElementById("chromagramCanvas");
    chromagramCtx = chromagramCanvas.getContext("2d");

    spectralCanvas = document.getElementById("spectralCanvas");
    spectralCtx = spectralCanvas.getContext("2d");

    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(function(stream) {
        mediaStreamSource = audioContext.createMediaStreamSource(stream);
        mediaStreamSource.connect(analyser);

        isPlaying = true;
        document.getElementById("startButton").disabled = true;
        document.getElementById("endButton").disabled = false;

        drawWaveform();
        drawSpectrogram();
        drawChromagram();
        drawSpectral();
      })
      .catch(function(error) {
        console.log('Error accessing microphone:', error);
      });
  }

  function endAudio() {
    if (!isPlaying) return;

    isPlaying = false;
    document.getElementById("startButton").disabled = false;
    document.getElementById("endButton").disabled = true;

    cancelAnimationFrame(animationFrameId);
    audioContext.close().then(function() {
      console.log("Audio context closed.");
    }).catch(function(error) {
      console.log('Error closing audio context:', error);
    });
  }

  function drawWaveform() {
  if (!isPlaying) return;

  requestAnimationFrame(drawWaveform);
  analyser.getByteTimeDomainData(dataArray);

  waveformCtx.clearRect(0, 0, waveformCanvas.width, waveformCanvas.height);
  waveformCtx.fillStyle = 'rgb(255, 255, 255)';
  waveformCtx.fillRect(0, 0, waveformCanvas.width, waveformCanvas.height);

  waveformCtx.lineWidth = 2;
  waveformCtx.strokeStyle = 'rgb(255, 0, 0)';
  waveformCtx.beginPath();

  var sliceWidth = waveformCanvas.width * 1.0 / dataArray.length;
  var x = 0;

  for (var i = 0; i < dataArray.length; i++) {
    var v = (dataArray[i] / 128.0) - 1;
    var y = (waveformCanvas.height / 2) - (v * waveformCanvas.height / 4);

    if (i === 0) {
      waveformCtx.moveTo(x, y);
    } else {
      waveformCtx.lineTo(x, y);
    }

    x += sliceWidth;
  }

  waveformCtx.lineTo(waveformCanvas.width, waveformCanvas.height / 2);
  waveformCtx.stroke();

  // Draw y-axis
  waveformCtx.beginPath();
  waveformCtx.moveTo(0, 0);
  waveformCtx.lineTo(0, waveformCanvas.height);
  waveformCtx.strokeStyle = 'rgb(150, 150, 150)';
  waveformCtx.stroke();

// Draw axis labels for amplitude
waveformCtx.fillStyle = 'rgb(0, 0, 0)';
waveformCtx.textAlign = 'right';

var labelSpacing = waveformCanvas.height / 5; // Spacing between labels
var startY = labelSpacing - labelSpacing / 5; // Starting y-coordinate for the first label, adjusted one step higher

waveformCtx.fillText('4', 10, startY);
waveformCtx.fillText('2', 10, startY + labelSpacing);
waveformCtx.fillText('0', 10, startY + 2 * labelSpacing);
waveformCtx.fillText('-2', 10, startY + 3 * labelSpacing);
waveformCtx.fillText('-4', 10, startY + 4 * labelSpacing);


  // Draw axis labels for time
  waveformCtx.textAlign = 'center';
  waveformCtx.fillText('1', waveformCanvas.width * 0.1, waveformCanvas.height - 10);
  waveformCtx.fillText('2', waveformCanvas.width * 0.3, waveformCanvas.height - 10);
  waveformCtx.fillText('3', waveformCanvas.width * 0.5, waveformCanvas.height - 10);
  waveformCtx.fillText('4', waveformCanvas.width * 0.7, waveformCanvas.height - 10);
  waveformCtx.fillText('5', waveformCanvas.width * 0.9, waveformCanvas.height - 10);

    // Update waveform values
    var amplitude = getAmplitude();
    var time = getTime();
    document.getElementById("waveformValues").innerHTML = `<b>Amplitude:</b> ${amplitude} dB<br><b>Time:</b> ${time} s`;
  }

  function drawSpectrogram() {
  if (!isPlaying) return;

  requestAnimationFrame(drawSpectrogram);
  analyser.getByteFrequencyData(dataArray);

  spectrogramCtx.clearRect(0, 0, spectrogramCanvas.width, spectrogramCanvas.height);
  spectrogramCtx.fillStyle = 'rgb(0, 0, 0)';
  spectrogramCtx.fillRect(0, 0, spectrogramCanvas.width, spectrogramCanvas.height);

  var barWidth = spectrogramCanvas.width / dataArray.length;

  for (var i = 0; i < dataArray.length; i++) {
    var barHeight = dataArray[i] * spectrogramCanvas.height / 255;

    spectrogramCtx.fillStyle = 'rgb(' + (barHeight + 100) + ', 50, 50)';
    spectrogramCtx.fillRect(i * barWidth, spectrogramCanvas.height - barHeight, barWidth, barHeight);
  }

  // Draw x-axis
  spectrogramCtx.beginPath();
  spectrogramCtx.moveTo(0, spectrogramCanvas.height);
  spectrogramCtx.lineTo(spectrogramCanvas.width, spectrogramCanvas.height);
  spectrogramCtx.strokeStyle = 'rgb(150, 150, 150)';
  spectrogramCtx.stroke();

  // Draw y-axis
  spectrogramCtx.beginPath();
  spectrogramCtx.moveTo(0, 0);
  spectrogramCtx.lineTo(0, spectrogramCanvas.height);
  spectrogramCtx.strokeStyle = 'rgb(150, 150, 150)';
  spectrogramCtx.stroke();

  // Draw axis labels for frequency
  spectrogramCtx.fillStyle = 'rgb(255, 255, 255)';
  spectrogramCtx.textAlign = 'right';

  var labelSpacing = spectrogramCanvas.height / 5; // Spacing between labels
  var startY = labelSpacing - labelSpacing / 5; // Starting y-coordinate for the first label, adjusted one step higher

  spectrogramCtx.fillText('4000', 10, startY);
  spectrogramCtx.fillText('3000', 10, startY + labelSpacing);
  spectrogramCtx.fillText('2000', 10, startY + 2 * labelSpacing);
  spectrogramCtx.fillText('1000', 10, startY + 3 * labelSpacing);
  spectrogramCtx.fillText('0', 10, startY + 4 * labelSpacing);

  // Draw axis labels for magnitude
  spectrogramCtx.textAlign = 'center';
  spectrogramCtx.fillText('1', spectrogramCanvas.width * 0.1, spectrogramCanvas.height - 10);
  spectrogramCtx.fillText('2', spectrogramCanvas.width * 0.3, spectrogramCanvas.height - 10);
  spectrogramCtx.fillText('3', spectrogramCanvas.width * 0.5, spectrogramCanvas.height - 10);
  spectrogramCtx.fillText('4', spectrogramCanvas.width * 0.7, spectrogramCanvas.height - 10);
  spectrogramCtx.fillText('5', spectrogramCanvas.width * 0.9, spectrogramCanvas.height - 10);

  // Update spectrogram values
  var frequency = getFrequency();
  var magnitude = getMagnitude();
  document.getElementById("spectrogramValues").innerHTML = `<b>Frequency:</b> ${frequency} Hz<br><b>Magnitude:</b> ${magnitude} dB`;
}

function drawChromagram() {
  if (!isPlaying) return;

  requestAnimationFrame(drawChromagram);
  analyser.getByteFrequencyData(dataArray);

  chromagramCtx.clearRect(0, 0, chromagramCanvas.width, chromagramCanvas.height);
  chromagramCtx.fillStyle = 'rgb(0, 0, 0)';
  chromagramCtx.fillRect(0, 0, chromagramCanvas.width, chromagramCanvas.height);

  var numPitchClasses = 12;
  var binWidth = chromagramCanvas.width / numPitchClasses;
  var pitchClasses = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B'];

  var timeIndex = 0;
  for (var i = 0; i < numPitchClasses; i++) {
    var hue = i * (360 / numPitchClasses);
    var saturation = 100;

    var y = chromagramCanvas.height - (dataArray[timeIndex] / 2.55); // Scale the amplitude
    chromagramCtx.strokeStyle = 'hsl(' + hue + ', ' + saturation + '%, 50%)';
    chromagramCtx.beginPath();
    chromagramCtx.moveTo(i * binWidth, y);

    for (var j = 1; j < chromagramCanvas.width / binWidth; j++) {
      var dataIndex = timeIndex + j;
      var amplitude = dataArray[dataIndex % dataArray.length] / 2.55; // Scale the amplitude
      var x = i * binWidth + j * binWidth;
      y = chromagramCanvas.height - amplitude;
      chromagramCtx.lineTo(x, y);
    }

    chromagramCtx.stroke();
  }

  // Draw x-axis (pitch classes)
  chromagramCtx.beginPath();
  chromagramCtx.moveTo(0, chromagramCanvas.height);
  chromagramCtx.lineTo(chromagramCanvas.width, chromagramCanvas.height);
  chromagramCtx.strokeStyle = 'rgb(150, 150, 150)';
  chromagramCtx.stroke();

  // Draw axis labels for pitch class (x-axis)
  chromagramCtx.fillStyle = 'rgb(255, 255, 255)';
  chromagramCtx.textAlign = 'center';

  for (var i = 0; i < numPitchClasses; i++) {
    var labelX = (i + 0.5) * binWidth;
    var labelY = chromagramCanvas.height - 10;
    chromagramCtx.fillText(pitchClasses[i], labelX, labelY);
  }

  // Draw axis labels for time (y-axis)
  chromagramCtx.textAlign = 'right';
  chromagramCtx.fillText('1', 10, 20);
  chromagramCtx.fillText('2', 10, chromagramCanvas.height * 0.3);
  chromagramCtx.fillText('3', 10, chromagramCanvas.height * 0.5);
  chromagramCtx.fillText('4', 10, chromagramCanvas.height * 0.7);
  chromagramCtx.fillText('5', 10, chromagramCanvas.height * 0.9);

  // Update chromagram values
  var pitchClass = getPitchClass();
  document.getElementById("chromagramValues").innerHTML = `<b>Pitch Class:</b> ${pitchClass}`;
  
  // Increment time index
  timeIndex++;
}

var spectralCanvas = document.getElementById('spectralCanvas');
var spectralCtx = spectralCanvas.getContext('2d');

function drawSpectral() {
  if (!isPlaying) return;

  requestAnimationFrame(drawSpectral);
  analyser.getByteFrequencyData(dataArray);

  spectralCtx.clearRect(0, 0, spectralCanvas.width, spectralCanvas.height);
  spectralCtx.fillStyle = 'rgb(0, 0, 0)';
  spectralCtx.fillRect(0, 0, spectralCanvas.width, spectralCanvas.height);

  var binWidth = spectralCanvas.width / dataArray.length;

  for (var i = 0; i < dataArray.length; i++) {
    var hue = i * (360 / dataArray.length);
    var saturation = 100;
    var lightness = dataArray[i] / 2.55;

    spectralCtx.fillStyle = 'hsl(' + hue + ', ' + saturation + '%, ' + lightness + '%)';
    spectralCtx.fillRect(i * binWidth, spectralCanvas.height - (dataArray[i] / 2), binWidth, dataArray[i] / 2);
  }

  // Draw x-axis
  spectralCtx.beginPath();
  spectralCtx.moveTo(0, spectralCanvas.height);
  spectralCtx.lineTo(spectralCanvas.width, spectralCanvas.height);
  spectralCtx.strokeStyle = 'rgb(150, 150, 150)';
  spectralCtx.stroke();

  // Draw y-axis
  spectralCtx.beginPath();
  spectralCtx.moveTo(0, 0);
  spectralCtx.lineTo(0, spectralCanvas.height);
  spectralCtx.strokeStyle = 'rgb(150, 150, 150)';
  spectralCtx.stroke();

  // Draw axis labels for magnitude
  spectralCtx.fillStyle = 'rgb(255, 255, 255)';
  spectralCtx.textAlign = 'right';

  var labelSpacing = spectralCanvas.height / 5; // Spacing between labels
  var startY = spectralCanvas.height - labelSpacing + labelSpacing / 5; // Starting y-coordinate for the first label, adjusted one step lower

  for (var i = 0; i <= 5; i++) {
    var labelX = spectralCanvas.width - 10;
    var labelY = startY - i * labelSpacing;
    var magnitude = i * 20; // Adjust the magnitude values as needed
    spectralCtx.fillText(magnitude + ' dB', labelX, labelY);
  }

  // Draw axis labels for frequency
  spectralCtx.textAlign = 'center';
  spectralCtx.fillText('0 Hz', 10, spectralCanvas.height - 10);
  spectralCtx.fillText('Sample Rate/2', spectralCanvas.width / 2, spectralCanvas.height - 10);
  spectralCtx.fillText('Sample Rate', spectralCanvas.width - 10, spectralCanvas.height - 10);

  // Update spectral display values
  var frequency = getFrequency();
  var magnitude = getMagnitude();
  document.getElementById("spectralValues").innerHTML = `<b>Frequency:</b> ${frequency} Hz<br><b>Magnitude:</b> ${magnitude} dB`;
}

function getAmplitude() {
  var minDecibels = analyser.minDecibels === -Infinity ? 0 : analyser.minDecibels;
  var maxDecibels = analyser.maxDecibels === -Infinity ? 0 : analyser.maxDecibels;
  var amplitude = 20 * (Math.log10(maxDecibels - minDecibels) - Math.log10(256)) + 100;
  return amplitude.toFixed(2);
}

  function getTime() {
    var time = audioContext.currentTime.toFixed(2);
    return time;
  }

  function getFrequency() {
    var maxIndex = 0;
    var maxMagnitude = 0;

    for (var i = 0; i < dataArray.length; i++) {
      if (dataArray[i] > maxMagnitude) {
        maxMagnitude = dataArray[i];
        maxIndex = i;
      }
    }

    var frequency = maxIndex * audioContext.sampleRate / analyser.fftSize;
    return frequency.toFixed(2);
  }

  function getMagnitude() {
    var maxMagnitude = 0;

    for (var i = 0; i < dataArray.length; i++) {
      if (dataArray[i] > maxMagnitude) {
        maxMagnitude = dataArray[i];
      }
    }

    var magnitude = 20 * (Math.log10(maxMagnitude) - Math.log10(256));
    return magnitude.toFixed(2);
  }

  function getPitchClass() {
    var maxIndex = 0;
    var maxMagnitude = 0;

    for (var i = 0; i < dataArray.length; i++) {
      if (dataArray[i] > maxMagnitude) {
        maxMagnitude = dataArray[i];
        maxIndex = i;
      }
    }

    var frequency = maxIndex * audioContext.sampleRate / analyser.fftSize;
    var pitchClass = frequency.toFixed(2);
    return pitchClass;
  }

  
</script>



  <footer class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <p class="footer-text">© 2023 Chic Web Application. All rights reserved.</p>
          <p class="footer-text">This web application is for research purposes only. "Automated Bioacoustics: Recognition of Chicken Distress Vocalizations"</p>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
